<!DOCTYPE html>
<html>

<head>
    <title>CUBE Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    </head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" style="margin-top: 10px;">
            <a class="navbar-brand logo" href="#">
                <img src="{{ url_for('static', filename='images/Logonew.png') }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="color:black; font-weight: bold;  ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
                    <li class="nav-item" style=" margin-left: 50px;">
                        <a class="nav-link" href="/home">CUBE</a>
                    </li>
                    <li class="nav-item" style=" margin-left: 50px;">
                        <a class="nav-link" href="#Port Mirroring">Port Mirroring</a>
                    </li>
                    <li class="nav-item" style=" margin-left: 50px;">
                        <a class="nav-link" href="#MAC Filter">MAC Filter</a>
                    </li>
                  </ul>
		<form action="{{ url_for('logout') }}" method="POST">
    			<button class="btn btn-outline-success" button type="submit">Logout</button>
			<style="color: white; border-radius: 10px; background-color: blue; width: 100px; 
                    position: relative; right: 50px; padding: 5px;" >
		</form>
            </div>
        </div>
    </nav>
    <div class="navbar justify-content-center">
        <div class="centerlogo">
            <img src="{{ url_for('static', filename='images/indeximg1.jpg') }}" alt="home_image" class="img-fluid">
        </div>
    </div>
    
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(function(){
        $("#logout-btn").click(function(){
            $.ajax({
                url: "/logout",
                type: "POST",
                success: function(response){
                    window.location.href = response.redirect;
                }
            });
        });
    });
</script>

</html>